NEXT_PUBLIC_SUPABASE_URL=https://pkalsaofronctyckysir.supabase.co/
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_x9yigJUGINjy1Xau-FhyRw_HO6r9i2o
NEXT_PUBLIC_SUPABASE_SECRET_DEFAULT_KEY=sb_secret_LAOk5x3HNgI7A3rWxFlBTw_1I5erKIr
NEXT_PUBLIC_DATABASE_URL=postgresql://postgres.pkalsaofronctyckysir:XJA3zY%403-AKE%21Qi2%2ALxy@aws-1-us-east-2.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_APP_URL=http://localhost:3001/
