name: CI/CD

on:
  # push:
  #   branches: [main]
  # pull_request:
  #   branches: [main]
  workflow_dispatch: {}

jobs:
  setup:
    name: Setup & Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.25.0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm
      - run: pnpm install --frozen-lockfile

  quality-web:
    name: Quality Gate - Web
    needs: setup
    uses: uw-datasci/nexus/.github/workflows/quality-gate.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.25.0
      lint-command: pnpm --filter=web... lint
      typecheck-command: pnpm --filter=web... check-types

  quality-cxc:
    name: Quality Gate - CxC
    needs: setup
    uses: uw-datasci/nexus/.github/workflows/quality-gate.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.25.0
      lint-command: pnpm --filter=cxc... lint
      typecheck-command: pnpm --filter=cxc... check-types

  deploy-web:
    name: Build & Deploy - Web
    needs: quality-web
    uses: uw-datasci/nexus/.github/workflows/deploy-vercel.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.25.0
      infisical-project-slug: uwdsc-54e-y
      infisical-secret-path: /web
    secrets:
      INFISICAL_CLIENT_ID: ${{ secrets.INFISICAL_CLIENT_ID }}
      INFISICAL_CLIENT_SECRET: ${{ secrets.INFISICAL_CLIENT_SECRET }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID_WEB }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}

  deploy-cxc:
    name: Build & Deploy - CxC
    needs: quality-cxc
    uses: uw-datasci/nexus/.github/workflows/deploy-vercel.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.25.0
      infisical-project-slug: uwdsc-54e-y
      infisical-secret-path: /cxc
    secrets:
      INFISICAL_CLIENT_ID: ${{ secrets.INFISICAL_CLIENT_ID }}
      INFISICAL_CLIENT_SECRET: ${{ secrets.INFISICAL_CLIENT_SECRET }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID_CXC }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
