name: CI/CD

on:
  # push:
  #   branches: [main]
  # pull_request:
  #   branches: [main]
  workflow_dispatch: {}

jobs:
  setup:
    name: Setup & Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile

  quality-web:
    name: Quality Gate - Web
    needs: setup
    uses: uw-datasci/nexus/.github/workflows/quality-gate.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.22.0
      lint-command: pnpm --filter=web... lint
      typecheck-command: pnpm --filter=web... check-types

  quality-cxc:
    name: Quality Gate - CxC
    needs: setup
    uses: uw-datasci/nexus/.github/workflows/quality-gate.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.22.0
      lint-command: pnpm --filter=cxc... lint
      typecheck-command: pnpm --filter=cxc... check-types

  build-web:
    name: Build - Web
    needs: quality-web
    uses: uw-datasci/nexus/.github/workflows/build-node.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.22.0
      build-command: pnpm --filter=web... build
      working-directory: "./apps/web"
      infisical-project-slug: "uwdsc-54e-y"
      infisical-secret-path: "/web"
    secrets:
      INFISICAL_CLIENT_ID: ${{ secrets.INFISICAL_CLIENT_ID }}
      INFISICAL_CLIENT_SECRET: ${{ secrets.INFISICAL_CLIENT_SECRET }}

  build-cxc:
    name: Build - CxC
    needs: quality-cxc
    uses: uw-datasci/nexus/.github/workflows/build-node.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.22.0
      build-command: pnpm --filter=cxc... build
      working-directory: "./apps/cxc"
      infisical-project-slug: "uwdsc-54e-y"
      infisical-secret-path: "/cxc"
    secrets:
      INFISICAL_CLIENT_ID: ${{ secrets.INFISICAL_CLIENT_ID }}
      INFISICAL_CLIENT_SECRET: ${{ secrets.INFISICAL_CLIENT_SECRET }}

  # deploy-web:
  #   name: Deploy - Web
  #   needs: build-web
  #   uses: uw-datasci/nexus/.github/workflows/deploy-vercel.yml@v2
  #   with:
  #     vercel-project-id: ${{ vars.VERCEL_PROJECT_ID_WEB }}
  #     working-directory: "./apps/web"
  #   secrets:
  #     VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  #     VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}

  # deploy-cxc:
  #   name: Deploy - CxC
  #   needs: build-cxc
  #   uses: uw-datasci/nexus/.github/workflows/deploy-vercel.yml@v2
  #   with:
  #     vercel-project-id: ${{ vars.VERCEL_PROJECT_ID_CXC }}
  #     working-directory: "./apps/cxc"
  #   secrets:
  #     VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  #     VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
