name: Fetch Secrets Proxy

on:
  workflow_dispatch:
    inputs:
      encryption_passphrase:
        description: "One-time passphrase"
        required: true

jobs:
  fetch-and-encrypt:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch web Secrets
        uses: Infisical/secrets-action@v1
        with:
          client-id: ${{ secrets.INFISICAL_CLIENT_ID }}
          client-secret: ${{ secrets.INFISICAL_CLIENT_SECRET }}
          project-slug: "uwdsc-54e-y"
          env-slug: "dev"
          secret-path: "/web"
          export-type: "file"
          file-output-path: "web.env"

      - name: Fetch cxc Secrets
        uses: Infisical/secrets-action@v1
        with:
          client-id: ${{ secrets.INFISICAL_CLIENT_ID }}
          client-secret: ${{ secrets.INFISICAL_CLIENT_SECRET }}
          project-slug: "uwdsc-54e-y"
          env-slug: "dev"
          secret-path: "/cxc"
          export-type: "file"
          file-output-path: "cxc.env"

      - name: Bundle and Encrypt
        run: |
          # 1. Combine into JSON using jq
          jq -n --rawfile web web.env --rawfile cxc cxc.env '{web: $web, cxc: $cxc}' > secrets.json

          # 2. Encrypt the JSON file
          openssl enc -aes-256-cbc -salt -pbkdf2 -iter 10000 -in secrets.json -out secrets.enc -pass pass:${{ inputs.encryption_passphrase }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: encrypted-secrets-${{ github.run_id }}
          path: secrets.enc
          retention-days: 1
