name: Sample Workflow

on:
  push:
    branches: ["*"]

jobs:
  build:
    name: Build Node App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Pull Secrets from Infisical
        uses: infisical/secrets-action@v1.0.9
        with:
          env-slug: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev' }}
          client-id: ${{ secrets.INFISICAL_CLIENT_ID }}
          client-secret: ${{ secrets.INFISICAL_CLIENT_SECRET }}
          project-slug: "uwdsc-54e-y"
          secret-path: "/web"

      - name: Test Before Build
        run: ls -la apps/web

      - name: Build
        run: pnpm build

      - name: Test After Build
        run: ls -la apps/web

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: apps/web/.next
          retention-days: 1
