name: Sample Workflow

on:
  push:
    branches: ["**"]

jobs:
  build:
    name: Build
    uses: uw-datasci/nexus/.github/workflows/build-node.yml@v2
    with:
      node-version: 20
      pnpm-version: 10.25.0
      build-to-vercel: true
      build-command: |
        vercel pull --yes --environment=production --token=$VERCEL_TOKEN
        vercel build --prod --token=$VERCEL_TOKEN
      artifact-path: .vercel/output
      infisical-project-slug: uwdsc-54e-y
      infisical-secret-path: /web
    secrets:
      INFISICAL_CLIENT_ID: ${{ secrets.INFISICAL_CLIENT_ID }}
      INFISICAL_CLIENT_SECRET: ${{ secrets.INFISICAL_CLIENT_SECRET }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID_WEB }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
