name: Vercel Preview Discord Notification

on:
  pull_request:
    types: [opened]

jobs:
  construct-deployment-url:
    runs-on: ubuntu-latest
    outputs:
      should-notify: ${{ steps.construct-url.outputs.should-notify }}
      deployment-info: ${{ steps.construct-url.outputs.deployment-info }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Construct Deployment URL
        id: construct-url
        uses: uwdatasci/nexus-construct-url@v1
        with:
          project-name: uwdsc-website-v3-cxc
          team-slug: uwdsc

  send-discord-notification:
    runs-on: ubuntu-latest
    needs: [construct-deployment-url]
    if: needs.construct-deployment-url.outputs.should-notify == 'true'

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Send Discord Notification
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { main } = require('./.github/scripts/notifications/discord-notification-sender.js');

            const deploymentInfo = JSON.parse(`${{ needs.construct-deployment-url.outputs.deployment-info }}`);

            await main(core, github, context, deploymentInfo);
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
